.site-navbar {
  flex: 1;
  order: -1;

  li {
    a {
      display: block;
      @extend .text-gray-700;
    }

    &.active, &.current {
      > a { font-weight: $font-weight-bold; }
    }
  }

  ul {
    @extend .list-unstyled;

    ul li {
      &.active a, &.current a, a:active, a:hover { background: rgba(60, 118, 240, 0.2); }
  }
}
  @include media-breakpoint-down(md) {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0);
    background: #ffffff;
    position: fixed;
    top: 0; right: 0; bottom: 0;
    transform: translate3d(300px, 0, 0);
    transition: 300ms ease all;
    width: 300px;
    z-index: $zindex-modal;

    .menu-open &{
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.32);
      transform: translate3d(0, 0, 0);
    }
  }
}

.navbar-header {
  display: none;

  @include media-breakpoint-down(md) {
    display: flex;
    align-items: baseline;
    background-image: linear-gradient(to top, #716ff9, #3c76f0);
    overflow: hidden;
    margin: 0 0 1.5em;
    padding: 1.25em 1.5em;
  }

  .isvg {
    display: block;
    margin: 0;
  }

  .site-menu-toggler {
    height: 20px;
    width: 20px;
    float: right;
  }

  .site-logo { flex: 1; }
}

.navbar-content {
  padding: 1em; 

  h1 a {
    color: $gray-072;
    font-size: 0.7em;
  }

  @include media-breakpoint-down(md) {
    height: calc(100% - 87px);
    overflow-y: scroll;
    padding-bottom: 1em;
  }
}

