.navbar{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;

  .site-logo{
    float: left;
    .isvg{
      display: block;
      margin: 0 0 auto;
      .inherit-fill { fill: #ffffff !important; }
    }
  }

  .logo-wrapper, .navbar-right{
    width: 23%;
    flex-shrink: 0;
  }

  .navbar-right{
    width: 75%;
    align-items: center;
    justify-content: flex-end;
    text-align: right;

    @include media-breakpoint-up(lg){ display: none; }
  }

  .search-box{
    margin-top: 20px;
    width: 100%;

    @include media-breakpoint-up(lg){
      margin-top: 0;
      width: 77%;
      max-width: $main-content-width;
    }

    .form-group{ margin-bottom: 0; }
  }

  .search-box label {
    padding-right: 40px;
  }

  .site-menu-toggler{
    width: 20px;
    height: 20px;

    &, .isvg{
      display: block;
      margin: 0 0 0 auto;
    }

    .isvg-close{
      display: none;
      .inherit-fill{ fill: #ffffff; }
    }

    .menu-open &{
      .isvg-close{ display: block; }
      .isvg-menu{ display: none; }
    }

    @include media-breakpoint-up(lg){ display: none; }
  }

  @include media-breakpoint-up(lg){
    padding-bottom: 0;
    padding-top: 0;
  }

  @include media-breakpoint-down(md){
    max-width: none;
  }
}


.site-logo svg {
  fill: white;
  width: 100px;
}

.offset::before { 
	display: block; 
 	content: " "; 
  visibility: hidden; 
  height: 150px;      
  margin-top: -150px; 
  
  @include media-breakpoint-up(lg) {
    height: 110px;      
    margin-top: -110px; 
  }
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(#ffffff, 0.5);
  z-index: $zindex-modal - 1;
  display: none;
}

.menu-open .backdrop {
  display: block;
}

.site-navbar .slack {
  background-color: $blue;
  border-color: $blue;
  color: white;
  
  svg .inherit-fill { fill: white; }
}
.site-navbar ul li {
  // IE/Edge
  // Fix list styles showing on list items despite having list-style: none set
  list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}
